body {
  background-color: lightgray;
  font-family: "Open Sans", sans-serif;
  color: #656363;
}

.inventor h4 {
  color: red;
  font-weight: bold;
}

.inventor h5 {
  font-weight: bold;
}

.section {
  background-color: white;
  width: 50%;
  margin: 20px auto;
}

.social-network {
  justify-content: center;
  color: #a9a9a98a;
}

.social-network li {
  padding: 12px;
}

.social-network p {
  margin: 0;
}

#tim-image {
  border-radius: 163px;
}

.text-center {
  text-align: center;
}

.movies h4 {
  text-align: center;
  padding: 16px;
  font-weight: bold;
}

.movie {
  display: flex;
  padding: 0 16px;
}

.movie article {
  width: 100%;
}

.movie h5 {
  text-align: center;
  font-weight: bold;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 20px;
}

.text {
  padding: 3%;
  text-align: justify;
  font-size: 14px;
}

button {
  margin-bottom: 14px;
}

img {
  height: 200px;
  padding: 24px;
}

.fa {
  font-size: 28px;
}
