body {
  background-color: lightgray;
  font-family: "Open Sans", sans-serif;
}

.section {
  background-color: white;
  width: 50%;
  margin: 20px auto;
}

.social-network {
  justify-content: center;
}

.social-network li {
  padding: 8px;
}

.social-network p {
  margin: 0;
}

#tim-image {
  border-radius: 163px;
}

.text-center {
  text-align: center;
}

.movie {
  display: flex;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
